@import url('https://fonts.googleapis.com/css?family=Edu+SA+Beginner');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #24292E;
  color: white;
  font-family: 'Edu SA Beginner'
}

.todo-app-container {
  text-align: center;
  border: 1px solid #20282c;
  width: 40%;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: #2C3139;
  border-radius: 10px;
}

.list-container {
  text-align: center;
  width: 40%;
  margin: auto;
  background-color: #2C3139;
  border-radius: 10px;
  border: 1px solid #20282c;
  padding-bottom: 10px;  
  margin-top: 10px;  
}

.list-container p {
  font-size: 18px;
}

.todoapp-container h1 {
  font-family: 'Edu SA Beginner', cursive;
}

.text-button {
  display:flex; 
  flex-direction:row; 
  justify-content:center;
}

.edit-item-view {
  width: 100%;
  text-align: center;
}